.loader {
    display: block;
    position: relative;
    background: currentColor;
    color: #000;
    box-sizing: border-box;
    animation: animLoaderLG 0.3s 0.3s linear infinite alternate;

    &:after,
    &:before {
        content: '';
        background: currentColor;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        box-sizing: border-box;
        animation: animLoaderLG 0.3s 0.45s linear infinite alternate;
    }

    &:before {
        animation-delay: 0s;
    }

    &.sm {
        width: 2px;
        height: 10px;
        border-radius: 1px;
        display: block;
        margin: 1px auto;
        animation-name: animLoaderSM;

        &:after,
        &:before {
            content: '';
            width: 2px;
            height: 10px;
            border-radius: 1px;
            left: 5px;
            animation-name: animLoaderSM;
        }

        &:before {
            left: -5px;
        }
    }

    &.md {
        width: 4px;
        height: 20px;
        border-radius: 2px;
        display: block;
        margin: 2px auto;
        animation-name: animLoaderMD;

        &:after,
        &:before {
            content: '';
            width: 4px;
            height: 20px;
            border-radius: 2px;
            left: 10px;
            animation-name: animLoaderMD;
        }

        &:before {
            left: -10px;
        }
    }

    &.lg {
        width: 6px;
        height: 30px;
        border-radius: 3px;
        display: block;
        margin: 2px auto;
        animation-name: animLoaderLG;

        &:after,
        &:before {
            content: '';
            width: 6px;
            height: 30px;
            border-radius: 3px;
            left: 12px;
            animation-name: animLoaderLG;
        }

        &:before {
            left: -12px;
        }
    }
}

@keyframes animLoaderSM {
    0% {
        height: 10px
    }

    100% {
        height: 2px
    }
}

@keyframes animLoaderMD {
    0% {
        height: 20px
    }

    100% {
        height: 5px
    }
}

@keyframes animLoaderLG {
    0% {
        height: 30px
    }

    100% {
        height: 8px
    }
}