@use "../../styles/colors.scss";

.input {
    color: var(--color-gray-400);
    font-size: 16px;
    font-weight: 400;
    border: 1px solid var(--color-gray-100);
    border-radius: 8px;
    padding: 8px 12px;

    &:focus-visible {
        border-color: var(--color-primary-500);
    }
}