@use '../../styles/colors.scss';

.input {
  color: var(--color-black-700);
  font-size: 14px;
  font-weight: 400;
  border: 1px solid var(--color-gray-100);
  border-radius: 8px;
  padding: 8px 12px;

  &:focus-visible {
    border-color: var(--color-primary-500);
  }

  &.error {
    background-color: var(--color-red-50);
    border-color: var(--color-red-100);
  }

  &:disabled {
    background-color: var(--color-gray-100);
    border-color: var(--color-gray-100);
  }
}
