@use '../../styles/colors.scss';

.button {
  outline: none;
  box-sizing: border-box;
  appearance: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  border-width: 1px;
  border-style: solid;
  border-radius: 8px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  padding: 10px;
  transition: all 0.3s ease-in-out;
  min-height: 40px;

  &.sm {
    padding: 8px;
  }

  &.lg {
    padding: 12px;
  }

  &.loading {
    > span {
      margin-left: 10px;
      margin-right: 5px;
    }
  }

  svg {
    width: 18px;
    height: 18px;
  }

  &:disabled {
    opacity: 0.65;
    cursor: not-allowed;
  }

  &.primary {
    border-color: var(--color-primary-500);
    background-color: var(--color-primary-500);
    color: var(--color-white);

    svg {
      fill: var(--color-white);
    }

    &:not(:disabled):hover {
      border-color: var(--color-primary-600);
      background-color: var(--color-primary-600);
    }

    &.loading {
      > span {
        color: var(--color-white);
      }
    }
  }

  &.secondary {
    border-color: var(--color-primary-200);
    background-color: var(--color-primary-200);
    color: var(--color-primary-600);

    svg {
      fill: var(--color-primary-600);
    }

    &:not(:disabled):hover {
      border-color: var(--color-primary-300);
      background-color: var(--color-primary-300);
      color: var(--color-primary-700);

      svg {
        fill: var(--color-primary-700);
      }
    }

    &.loading {
      > span {
        color: var(--color-primary-700);
      }
    }
  }

  &.tertiary {
    border-color: var(--color-primary-500);
    background-color: var(--color-white);
    color: var(--color-primary-500);

    &:not(:disabled):hover {
      border-color: var(--color-primary-600);
      background-color: var(--color-primary-100);
    }

    &.loading {
      > span {
        color: var(--color-primary-500);
      }
    }
  }

  &.success {
    border-color: var(--color-green-500);
    background-color: var(--color-green-500);
    color: var(--color-white);

    svg {
      fill: var(--color-white);
    }

    &:not(:disabled):hover {
      border-color: var(--color-green-600);
      background-color: var(--color-green-600);
    }

    &.loading {
      > span {
        color: var(--color-white);
      }
    }
  }

  &.warning {
    border-color: var(--color-yellow-500);
    background-color: var(--color-yellow-500);
    color: var(--color-white);

    svg {
      fill: var(--color-white);
    }

    &:not(:disabled):hover {
      border-color: var(--color-yellow-600);
      background-color: var(--color-yellow-600);
    }

    &.loading {
      > span {
        color: var(--color-white);
      }
    }
  }

  &.error {
    border-color: var(--color-red-500);
    background-color: var(--color-red-500);
    color: var(--color-white);

    svg {
      fill: var(--color-white);
    }

    &:not(:disabled):hover {
      border-color: var(--color-red-600);
      background-color: var(--color-red-600);
    }

    &.loading {
      > span {
        color: var(--color-white);
      }
    }
  }

  &.fullWidth {
    width: 100%;
  }
}
