@use '../../styles/colors.scss';

.textarea {
  color: var(--color-black-700);
  font-size: 14px;
  font-weight: 400;
  background-color: var(--color-white);
  border: 1px solid var(--color-gray-100);
  border-radius: 8px;
  padding: 8px 12px;
  resize: none;
  min-height: 156px;

  &:focus-visible {
    border-color: var(--color-primary-500);
  }

  &.error {
    background-color: var(--color-red-50);
    border-color: var(--color-red-100);
  }

  &:disabled {
    pointer-events: none;
    background-color: var(--color-gray-100);
    border-color: var(--color-gray-100);
  }
}
