@use '../../../styles/colors.scss';

.header {
  position: relative;
  padding: 26px 24px;

  .backButton {
    height: auto;
    position: absolute;
    top: 50%;
    right: -14px;
    transform: translateY(-50%);
  }

  .logo {
    display: flex;
    align-items: center;
    gap: 12px;

    .logoIcon {
      background-color: var(--color-primary-700);
      display: flex;
      align-items: center;
      justify-content: center;
      width: 52px;
      height: 46px;
      border-radius: 8px;
      color: var(--color-white);

      svg {
        width: 18px;
        height: 18px;
      }
    }

    .logoText {
      font-size: 24px;
      font-weight: 600;
      color: var(--color-black-900);
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}
