@use '../../styles/colors.scss';

.root {
    &.error {
        :global(.uiSelect__control) {
            background-color: var(--cuk-color-danger-subtle);
            border-color: var(--cuk-color-danger-100);
        }
    }

    :global(.uiSelect__control) {
        width: 100%;
        min-height: 40px;
        background-color: var(--cuk-color-input-bg);
        border: 1px solid var(--cuk-color-input-border);
        border-radius: var(--cuk-radius-lg);

        &:hover {
            border-color: var(--cuk-color-input-border);
        }
    }

    :global(.uiSelect__control--is-disabled) {
        background-color: var(--cuk-color-disabled-bg);
        border-color: var(--cuk-color-disabled-border);
    }

    :global(.uiSelect__control--is-focused) {
        box-shadow: none;
        border: 1px solid var(--cuk-color-input-focus-border);

        &:hover {
            border-color: var(--cuk-color-input-focus-border);
        }
    }

    :global(.uiSelect__value-container) {
        padding: var(--cuk-spacing-2) var(--cuk-spacing-3);
    }

    :global(.uiSelect__value-container--is-multi) {
        padding: 5.6px var(--cuk-spacing-3);
    }

    :global(.uiSelect__input-container) {
        padding: 0;
        margin: 0;
    }

    :global(.uiSelect__indicator) {
        color: var(--cuk-color-text-muted);
        padding-right: var(--cuk-spacing-3);
    }

    :global(.uiSelect__clear-indicator) {
        padding: 0;
    }

    :global(.uiSelect__indicator-separator) {
        display: none;
    }

    :global(.uiSelect__menu) {
        border-radius: var(--cuk-radius-lg);
        border: 1px solid var(--cuk-color-border);
        box-shadow: var(--cuk-shadow-lg);
    }

    :global(.uiSelect__multi-value) {
        background-color: var(--cuk-color-primary-subtle);
        border: 0;
        border-radius: var(--cuk-radius-sm);
        margin: 0 2px;
        padding: 2px;

        :global(.uiSelect__multi-value__label) {
            font-weight: var(--cuk-font-weight-medium);
            font-size: var(--cuk-font-size-xs);
            color: var(--cuk-color-primary);
        }

        :global(.uiSelect__multi-value__remove) {
            color: var(--cuk-color-primary);
            border-radius: 0 var(--cuk-radius-sm) var(--cuk-radius-sm) 0;
        }
    }

    .menuOpen, .menuClose {
        display: inline-flex;
        transform: transform 150ms ease;
    }

    .menuOpen {
        transform: rotate(180deg);
    }
}
