@use '../../../styles/colors.scss';

.sidebar {
  background-color: var(--cuk-color-surface);
  border-right: 1px solid var(--cuk-color-border);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 256px;
  transition: width 200ms ease;
  overflow: hidden;
  flex-shrink: 0;

  &.closed {
    width: 68px;
  }
}
