@use '../../../styles/colors.scss';

.sidebar {
  background-color: var(--cuk-color-surface);
  box-shadow: var(--cuk-shadow-lg);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: var(--cuk-spacing-6);
  height: 100vh;
  width: 280px;
  transition: width, left, right, 0.3s;

  &.closed {
    width: 100px;
  }
}
