@use '../../styles/colors.scss';

.wrap {
  position: relative;

  input[type=checkbox] {
    position: absolute;
    left: 0;
    z-index: 2;
    vertical-align: middle;
    opacity: 0;
    cursor: pointer;
    visibility: hidden;

    &:checked + label .checkbox {
      color: var(--cuk-color-white);
      background-color: var(--cuk-color-primary);
      border-color: var(--cuk-color-primary);

      svg {
        display: block;
      }
    }

    &:disabled + label {
      pointer-events: none;

      .checkbox {
        background-color: var(--cuk-color-disabled-bg);
        border-color: var(--cuk-color-disabled-border);
      }
    }
  }

  label {
    color: var(--cuk-color-text-secondary);
    font-weight: var(--cuk-font-weight-medium);
    font-size: var(--cuk-font-size-sm);
    display: flex;
    align-items: center;
    gap: var(--cuk-spacing-2);
    cursor: pointer;
    user-select: none;
  }

  .checkbox {
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    border-radius: var(--cuk-radius-md);
    border: 2px solid var(--cuk-color-neutral-400);
    width: 20px;
    height: 20px;

    svg {
      display: none;
    }
  }

  &.error {
    .checkbox {
      background-color: var(--cuk-color-danger-subtle);
      border-color: var(--cuk-color-danger-100);
    }
  }
}
