@use '../../../../styles/colors.scss';

.header {
  position: relative;
  padding: var(--cuk-spacing-6) var(--cuk-spacing-6);

  .backButton {
    height: auto;
    position: absolute;
    top: 50%;
    right: -14px;
    transform: translateY(-50%);
  }

  .logo {
    display: flex;
    align-items: center;
    gap: var(--cuk-spacing-3);

    .logoIcon {
      background-color: var(--cuk-color-primary-700);
      display: flex;
      align-items: center;
      justify-content: center;
      width: 52px;
      height: 46px;
      border-radius: var(--cuk-radius-lg);
      color: var(--cuk-color-white);

      svg {
        width: 18px;
        height: 18px;
      }
    }

    .logoText {
      font-size: var(--cuk-font-size-2xl);
      font-weight: var(--cuk-font-weight-semibold);
      color: var(--cuk-color-text-primary);
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}
