@use '../../../styles/colors.scss';

.content {
  border-radius: 16px;
  background-color: var(--color-white);
  box-shadow: 0px 16px 44px 0px rgba(0, 0, 0, 0.07);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 24px;
  height: 100vh;
  min-width: 280px;
  transition: width, left, right, 0.3s;

  &.closed {
    min-width: 76px;
  }
}
