@use '../../styles/colors.scss';

.box {
  border-radius: 16px;
  background-color: var(--color-white);
  box-shadow: 0px 16px 44px 0px rgba(0, 0, 0, 0.07);
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 100%;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
  padding: 24px 24px 0 24px;

  .actions {
    display: flex;
    align-items: center;
    gap: 4px;
  }
}

.content {
  padding: 0 24px;
}

.footer {
  border-top: 1px var(--color-gray-25) solid;
  padding: 24px;
}